#cuadrodetexto{
    margin: 0 auto;
    text-align: center;
    
}

    


#texto{
    margin: 10px auto;
    
    
    width: 300px;
    height: 100px;
    font-size:10px ;
    position: relative;
    float: left;
    width: 25%;
    text-align: initial;
    letter-spacing: initial;
    letter-spacing: inherit;
    font-size: 30px;
    font-style: italic;
    border-radius: 35px 0px 35px 0px; 
-moz-border-radius: 35px 0px 35px 0px; 
-webkit-border-radius: 35px 0px 35px 0px; 
border: 2px solid rgb(3, 0, 3);
    
}
#division{
    margin: 0 auto;
    text-align:  center;
    width: 400px;
    height:300px;
    
    font-size: 200px;
    font-style: oblique;
    border-radius: 35px 0px 35px 0px; 
-moz-border-radius: 35px 0px 35px 0px; 
-webkit-border-radius: 35px 0px 35px 0px; 
border: 2px solid #d653e7;

}
